# Auto detect text files and perform LF normalization
* text=auto
Pogo/Required filter=lfs diff=lfs merge=lfs -text
Pogo/Required/bootstrap.tar filter=lfs diff=lfs merge=lfs -text
Pogo/Required/org.coolstar.sileo_2.4_iphoneos-arm64.deb filter=lfs diff=lfs merge=lfs -text
Pogo/Required/rpcserver filter=lfs diff=lfs merge=lfs -text
Pogo/Required/rpcserver.plist filter=lfs diff=lfs merge=lfs -text
